ErrorStatus = 0x001E, Hex8
ErrorStatus2 = 0x001C, Hex8
LPL_flt_ConcPC =  0x041E, S16
LPL_uflt_ConcPC = 0x040E, S16
LPLDet_Temp = 0x01A3, S16
AducDie_Temp = 0X01B3, S16
LPL_uflt_Pressure = 0x0420, S16
LPL_flt_Pressure = 0x0422, S16
12V_voltage_mV = 0x02C0, U16
VBB_voltage_mV = 0x02C2, U16
Temp_MainMirror = 0x0210, S16
Temp_ComponentBlock = 0x0212, S16
Temp_InletAirHeater0 = 0x021A, S16
Temp_K95PCB = 0x021C, S16,
Temp_InletAirHeater1 = 0x021E, S16
Temp_LPLEmitter = 0x230, S16
Temp_LPLDetHeater = 0x0232, S16
Temp_K95PCBHeater = 0x0234, S16
Temp_InletAirHeaterTrans = 0x0236, S16
Temp_LPLEmitter1 = 0x0238, S16
Temp_LPLDet = 0x023A, S16
LPL_uflt_IR_Signal = 0x404, U16
LPL_uflt_DT = 0x406, S16
LPL_uflt_SclRaw_Signal = 0x400, S32
Pressure_LPS331_10Pa_filtered = 0x1D5, S16
